<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOIP7XTg1mQXZbIj5m26Wr2Lmn7d8KOAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>2584644448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workwebsite.app</string>
	<key>PROJECT_ID</key>
	<string>workwebsite-38780</string>
	<key>STORAGE_BUCKET</key>
	<string>workwebsite-38780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2584644448:ios:9cc7451b968c46cc97ac05</string>
</dict>
</plist>
