// app global css in SCSS form
.table-spacing-around .q-table__grid-content.row {
	justify-content: space-around !important;
}
.table-spacing-center .q-table__grid-content.row {
	justify-content: space-center !important;
}
@keyframes flash {
	0%,
	100% {
		background-color: red;
	}
	50% {
		background-color: rgb(255, 105, 105);
	}
}

.siren {
	animation: flash 2s infinite;
	color: white;
}

.q-tabs__content {
	flex-wrap: wrap !important;
}

.truncate-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
	/* Adjust the width as per your layout */
	display: inline-block;
	vertical-align: middle;
}
.truncate-div {
	display: flex;
	width: 100%;
}
